body {
    padding: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.menuBtn {
    text-align: left;
}

.title {
    color: #7bb578;
    text-align: center;
}


.loginButton {
    padding: 10px 20px;
}

