body {
    padding: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.menuBtn {
    text-align: left;
}

.title {
    color: #7bb578;
    text-align: center;
}


.loginButton {
    padding: 10px 20px;
}

.header{
  width: 100%;
  height: 100vh;
}

.side-nav {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 90px;
  left: 0;
  padding: 30px 15px;
  background: #CEB7B3;
  backdrop-filter: blur(5px);
}

ul li{
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
