<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ...existing code... -->
</head>
<body>
    <!-- ...existing code... -->
    <div>
        <h2>Plant Details</h2>
        <p>Name: <%= plant.name %></p>
        <p>Description: <%= plant.description %></p>
        <p>File: <a href="<%= plant.fileUrl %>"><%= plant.fileName %></a></p>
    </div>
    <!-- ...existing code... -->
</body>
</html>
