.display-plants-container {
  padding: 10px;
  background-color: #d7d6c2ff; /* Added background color */
}

.plants-table {
  width: 100%;
  border-collapse: collapse;
}

.plants-table th, .plants-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.plants-table th {
  background-color: #d7d6c2ff; /* Updated color */
  text-align: left;
}

.plants-table tr:hover {
  background-color: #d7d6c2ff; /* Updated color */
}

.plants-table button {
  padding: 5px 10px;
  background-color: #859c8cff; /* Updated color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.plants-table button:hover {
  background-color: #484e32ff; /* Updated color */
}
