.plant-details-container {
  padding: 10px;
  background-color: #d7d6c2ff; /* Added background color */
}

.plant-details h1 {
  color: #859c8cff; /* Updated color */
}

.plant-details p {
  margin: 10px 0;
}

.comments ul {
  list-style-type: none;
  padding: 0;
}

.comments li {
  margin: 10px 0;
}

.comments textarea {
  width: 100%;
  height: 100px;
  margin: 10px 0;
}

.comments button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #859c8cff; /* Updated color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comments button:hover {
  background-color: #484e32ff; /* Updated color */
}

.report-button, .verify-button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #859c8cff; /* Updated color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.report-button:hover, .verify-button:hover {
  background-color: #484e32ff; /* Updated color */
}

.verified-badge {
  color: green;
  font-size: 1.2em;
  margin-left: 10px;
}

.plant-images img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}
