.sitemap-container {
  padding: 10px;
  background-color: #d7d6c2ff; /* Added background color */
}

.sitemap-logo {
  width: 100px;
  height: auto;
}

.sitemap-links a {
  color: #859c8cff; /* Updated color */
  text-decoration: none;
}

.sitemap-links a:hover {
  text-decoration: underline;
}
