.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #d7d6c2ff; /* Added background color */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  z-index: 2000;
  overflow-y: auto;
  max-width: 60%;
  word-wrap: break-word;
}

.sidebar button {
  display: block;
  margin-bottom: 20px;
}

.sidebar form label {
  display: block;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.sidebar form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  word-wrap: break-word;
}

.sidebar form button {
  width: 100%;
  padding: 10px;
  background-color: #859c8cff; /* Updated color */
  color: white;
  border: none;
  cursor: pointer;
}

.sidebar form button:hover {
  background-color: #484e32ff; /* Updated color */
}

@media (max-width: 1024px) {
  .sidebar {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}
